/* 
font-family: 'Montserrat', sans-serif;

lg: 1200px
md: 992px
sm: 767px
xs: 576px
*/

/* common START */
* {
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 15px;
   line-height: 1.3;
   color: #1f1f1f;
}

.no-scroll {
   overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
}

img {
   max-width: 100%;
   height: auto;
}

a {
   text-decoration: none;
   color: inherit;
}

ul, li {
   list-style: none;
   padding: 0;
   margin: 0;
}

.container {
   width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
   max-width: 100%;
}

.btn {
   display: inline-block;
   padding: 14px 50px;
   border-radius: 4px;
   border: 1px solid #f74737;
   font-weight: 500;
   font-size: 18px;
   text-align: center;
   letter-spacing: .05em;
   text-transform: uppercase;
   background-color: #f74737;
   color: #fff;
   cursor: pointer;
   transition: background-color .2s ease-in, transform .2s ease-in;
}

.btn:hover {
   background-color: #eb3323;
}

.btn:active {
   background-color: #eb3323;
   transform: scale(.98);
}
/* common END */


/* header START */
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 5px 0;
   background-color: #f74737;
   color: #fff;
   z-index: 5;
   overflow: hidden;
}

.header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: transparent;
}

.header__left {
   display: flex;
   gap: 15px;
}

.logo {
   width: 33px;
   height: 33px;
}

.schedule {
   margin-bottom: 2px;
   font-size: 10px;
   font-weight: 500;
   color: #FBBAB0;
}

.phone {
   font-size: 16px;
   font-weight: 700;
}

.nav__list {
   display: flex;
   align-items: center;
}

.nav__item {
   position: relative;
   font-size: 14px;
   font-weight: 500;
   cursor: pointer;
}

.nav__item::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   height: calc(100% + 40px);
   background-color: rgba(255, 255, 255, .3);
   transform: translateY(-50%);
   opacity: 0;
   transition: opacity .2s ease-in;
}

.nav__item:hover::before {
   opacity: 1;
}

.nav__text {
   position: relative;
   display: block;
   padding: 10px 20px;
   z-index: 6;
}

.hamburger {
   display: none;
   margin-right: -5px;
}

.hamburger__btn {
   display: inline-block;
   padding: 5px;
   background: none;
   cursor: pointer;
   border: none;
}

.hamburger__box {
   display: inline-block;
   width: 30px;
   height: 15px;
}

.hamburger__inner {
   position: relative;
   display: block;
   background-color: #fff;
   width: 100%;
   height: 3px;
   top: 50%;
   border-radius: 5px;
}

.hamburger__inner::before,
.hamburger__inner::after {
   content: "";
   position: absolute;
   background-color: #fff;
   width: 100%;
   height: 3px;
   left: 0;   
   border-radius: 5px;
}

.hamburger__inner::before {
   top: -8px;
}

.hamburger__inner::after {
   bottom: -8px;
}

@media (max-width: 767px) {
   .nav__menu {
      display: none;
   }
   .hamburger {
      display: block;
   }
}
/* header END */

/* hero START */
.hero {
   position: relative;
   height: 100vh;
   padding-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

   background: #ff978e no-repeat center center;
   background-size: cover;
   color: #fff;
   line-height: 1.2;
}

.hero::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, .5);
}

.hero__container {
   position: relative;
   width: 750px;
}

.hero__title {
   font-family: 'Montserrat', sans-serif;
   font-size: 82px;
   font-weight: 500;
}

.hero__subtitle {
   font-family: 'Montserrat', sans-serif;
   font-size:38px;
   font-weight: 300;
   margin-bottom: 60px;
}

@media (max-width: 767px) {
   .hero__title {
      font-size: 64px;
   }
   .hero__subtitle {
      font-size: 28px;
   }
}

@media (max-width: 576px) {
   .hero__title {
      font-size: 54px;
   }
   .hero__subtitle {
      font-size: 28px;
      margin-bottom: 30px;
   }
}
/* hero END */

/* catalog START */
.section {
   padding: 80px 0;
}

.section__top {
   margin-bottom: 40px;
}

.section__title {
   font-size: 54px;
   font-weight: 500;
   color: #f74737;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 50px;
}

.catalog__nav {
   margin: 0 auto;
}

.catalog__nav-list {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.catalog__nav-btn {
   display: inline-block;
   padding: 10px 17px;
   text-align: center;
   border: 1px solid #f74737;
   border-radius: 2px;
   color: #f74737;
   font-size: 13px;
   text-transform: uppercase;
   background-color: transparent;
   cursor: pointer;
   transition: background-color .2s ease-in;
}

.catalog__nav-btn:hover {
   background-color: #f74737;
   color: #fff;
}

.catalog__nav-btn.is-active {
   background-color: #f74737;
   color: #fff;
}

.catalog__list {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
}

.catalog__item {
   padding: 25px;
   width: calc(25% - 10px);
   position: relative;
   border: 1px solid #eee;
}

/* .catalog__item::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 1px;
   height: 100%;
   background-color: #eee;
   transform: translateX(-50%);
} */

/* .catalog__item:nth-of-type(3n+1)::before {
   content: none;
} */

/* .catalog__item::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 1px;
   background-color: #eee;
   transform: translateY(-50%);
} */

.catalog__item:hover {
   box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .1);
   border-color: #f74737;
}

.catalog__product {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.product__img {
   display: block;
   margin: 0 auto 15px;
   width: 228px;
   height: auto;
}

.product__title {
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 10px;
}

.product__content {
   flex-grow: 1;
   font-size: 10px;
   margin-bottom: 10px;
}

.product__descr {
   font-weight: 500;
   font-size: 11px;
   margin-bottom: 5px;
}

.product__footer {
   margin-bottom: 10px;
}

.product__sizes {
   display: flex;
   align-items: center;
   column-gap: 5px;
   overflow: hidden;
   margin-bottom: 20px;
}

.product__size {
   display: inline-block;
   padding: 10px;
   text-align: center;
   border: 1px solid #f1f1f1;;
   border-radius: 2px;
   font-size: 10px;
   font-weight: 500;
   background-color: #f1f1f1;
   cursor: pointer;
   transition: background-color .2s ease-in;
}

.product__size:hover {
   border-color: #f74737;
}

.product__size.is-active {
   border-color: #f74737;
}

.product__price {
   font-weight: 500;
   font-size: 18px;
}

.product__bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

.product__btn {
   padding: 8px 15px;
   font-size: 12px;
   border-radius: 2px;   
}

@media (max-width: 1200px) {
   .catalog__item {
      width: calc(33% - 10px);
      padding: 20px;
   }
}

@media (max-width: 992px) {
   .catalog__nav {
      width: 920px;
      max-width: 100%;
   }
   .catalog__nav-list {
      flex-wrap: wrap;
   }
   .catalog__item {
      width: calc(50% - 10px);
      padding: 15px;
   }
}

@media (max-width: 767px) {
   .section {
      padding: 60px 0;
   }
   .section__top {
      margin-bottom: 20px;
   }
   .section__title {
      font-size:44px;
      margin-bottom: 40px;
   }
   .catalog__nav-btn {
      font-size: 12px;
   }
}

@media (max-width: 576px) {
   .section {
      padding: 40px 0;
   }
   .section__title {
      font-size: 32px;
      margin-bottom: 20px;
   }
   .catalog__nav-btn {
      font-size: 10px;
   }
   .catalog__item {
      width: 100%;
   }
}
/* catalog END */

/* about START */
.section-about {
   position: relative;
   background-color: #ffe4dc;
}

.section-about__img {
   position: absolute;
   top: 0;
   left: 0;
   width: 50%;
   height: 100%;
   object-fit: cover;
}

.section-about__container {
   position: relative;
   display: flex;
   justify-content: flex-end;
}

.section-about__container::before {
   content: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
}

.section-about__content {
   position: relative;
   width: 50%;
   padding: 50px 30px 70px 70px;
}

.section-about__title {
   margin-bottom: 10px;
   text-align: left;
}

.section-about__text {
   font-size: 18px;
   line-height: 1.5;
}

@media (max-width: 992px) {
   .section-about__content {
      padding: 30px 10px 40px 20px;
   }
}

@media (max-width: 767px) {
   .section-about__text {
      font-size: 16px;
   }
}

@media (max-width: 576px) {
   .section-about__img {
      width: 100%;
   }
   .section-about__container::before {
      content: '';
   }
   .section-about__content {
      width: 100%;
      color: #fff;
      padding: 40px 10px;
   }
   .section-about__title {
      color: #fff;
   }
}
/* about END */

/* delivery START */
.section-delivery {
   padding: 80px 0 0;
}

.delivery__list {
   display: flex;
   justify-content: center;
   column-gap: 30px;
}

.delivery__item {
   width: calc(33% - 60px);
   padding-right: 20px;
}

.delivery__item:not(:last-child) {
   border-right: 1px solid #f74737;
}

@media (max-width: 767px) {
   .section-delivery {
      padding: 60px 0 0;
   }
   .delivery__list {
      flex-direction: column;
   }
   .delivery__item {
      width: 100%;
      text-align: center;
      padding: 10px 30px;
   }
   .delivery__item:not(:last-child) {
      border-right: none;
   }
}

@media (max-width: 576px) {
   .section-delivery {
      padding: 40px 0 0;
   }
   .section-about__img {
      width: 100%;
   }
}
/* delivery END */

/* news START */
.news__list {
   display: flex;
   justify-content: space-between;
}

.news__item {
   width: calc(25% - 10px);
   position: relative;
   border: 1px solid #eee;
}

.news__item:hover {
   box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .1);
   border: 1px solid #fff;
   transform: translateY(-1px);
   background-color: #fff;
}

.news__link {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.news__img {
   display: block;
   margin: 0 auto;
   width: 278px;
   height: 185px;
}

.news__content {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   height: 100%;
   padding: 25px;
}

.news__topic {
   text-transform: uppercase;
   font-size: 10px;
   margin-bottom: 10px;
   color: #a0a0a0;
}

.news__date {
   margin-top: auto;
   font-size: 10px;
   font-weight: 600;
   color: #a0a0a0;
}

.news__title {
   font-size: 16px;
   font-weight: 500;
   margin-bottom: 15px;
}

.news__item:hover .news__title {
   color: #f74737;
}
/* news END */

/* footer START */
.footer {
   position: relative;
   background-color: #1f1f1f;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
}

.footer::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
}

.footer__container {
   display: flex;
   justify-content: space-between;
   column-gap: 15px;
   padding: 60px 15px 120px;
   position: relative;
   color: #fff;
}

.footer__info {
   width: calc(25% - 30px);
}

.footer__title {
   font-size: 15px;
   font-weight: 500;
   text-transform: uppercase;
   margin-bottom: 15px;
}

.footer__text {
   font-size: 14px;
   line-height: 1.4;
}

.footer__nav {
   width: calc(25% - 30px);
}

.footer__nav-list {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.footer__nav-item {
   transition: color .2s ease-in;
}

.footer__nav-item:hover {
   color: #f74737;
}

.footer__nav-subscribe {
   text-align: right;
}

.footer__subscribe {
   display: flex;
   justify-content: end;
}

.footer__subscribe-input {
   font-size: 12px;
   padding: 8px 10px;
   border: 1px solid #a0a0a0;
}

.footer__subscribe-input:focus {
   border: 1px solid #f74737;
}

.footer__subscribe-input::placeholder {
   color: #a0a0a0;
   font-size: 12px;
   
}

.footer__subscribe-btn {
   font-size: 10px;
   padding: 8px 10px;
   border-radius: 0;
   border: none;
}

.footer__subscribe-btn:active {
   transform: scale(1);
}

.footer__contacts {
   padding-top: 20px;
   text-align: right;
}

.footer__schedule-phone {
   margin-bottom: 15px;
}

.footer__schedule{
   color: #fff;
   font-size: 11px;
}

.footer__phone {
   font-size: 20px;
}

.socials__list {
   display: flex;
   justify-content: end;
   column-gap: 10px;
}

.socials__logo {
   fill: #fff;
   transition: color .2s ease-in;
}

.socials__logo:hover {
   fill: #f74737;
}

@media (max-width: 992px) {
   .footer__info {
      display: none;
   }
}

@media (max-width: 767px) {
   .footer__container {
      flex-direction: column;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 20px;
   }
   .footer__nav {
      width: 100%;
      margin-bottom: 40px;
   }
   .footer__title {
      margin-bottom: 5px;
   }
   .footer__nav-subscribe {
      text-align: center;
   }
   .footer__subscribe {
      justify-content: center;
   }
   .footer__contacts {
      text-align: center;
   }
   .socials__list {
      justify-content: center;
   }
}
/* footer END */

/* popup-menu START */
.popup {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
   background: rgba(0, 0, 0, .7);

   display: flex;
   align-items: center;
   justify-content: center;
   overflow: auto;

   pointer-events: none;
   opacity: 0;
   visibility: hidden;
}

.popup.is-active {
   pointer-events: auto;
   opacity: 1;
   visibility: visible;
}

.popup__content {
   position: relative;
   background-color: #fff;
   padding: 60px 0 40px;
   margin: auto 10px;
   max-width: 800px;
   text-align: center;
   border-radius: 16px;
}

.btn-close {
   position: relative;
   display: inline-block;
   border: none;
   background: none;
   padding: 0;
   width: 50px;
   height: 50px;
   cursor: pointer;
   transition: transform .2s ease-in, opacity .2s ease-in;
}

.btn-close::before,
.btn-close::after {
   content: '';
   position: absolute;
   background-color: #a0a0a0;
   height: 20px;
   width: 2px;
   border-radius: 5px;
   top: 50%;
}

.btn-close::before {
   transform: translateY(-50%) rotate(45deg);
}

.btn-close::after {
   transform: translateY(-50%) rotate(-45deg);
}

.btn-close:hover {
   transform: scale(1.1);
}

.btn-close:active{
   transform: scale(.95);
   opacity: .8;
}

.popup__btn-close {
   position: absolute;
   top: 10px;
   right: 10px;
}

.nav__list-popup {
   flex-direction: column;
   margin-bottom: 20px;
}

.nav__item-popup {
   width: 100%;
   padding: 5px 0;
   font-size: 18px;
   transition: background-color .2s ease-in;
}

.nav__item-popup:hover {
   background-color: #f74737;
}

.nav__item-popup:active {
   background-color: #eb3323;
}

.schedule-phone__popup {
   text-align: center;
   margin-bottom: 20px;
   padding: 0px 70px 20px;
   border-bottom: 1px solid #f74737;
}

.schedule-phone__popup .phone {
   font-size: 20px;
}

.socials__list-popup {
   justify-content: center;
}

.socials__logo-popup {
   fill: #f74737;
}

.socials__logo-popup:hover {
   fill: #eb3323;
}

@media (max-width: 576px) {
   .popup__content {
      width: 100%;
      height: 100vh;
      margin: auto 0;
      border-radius: 0;
   }
}
/* popup-menu END */

/* popup-order START */
.popup-order__content {
   padding: 50px 30px;
}

.popup__title {
   font-size: 28px;
   font-weight: 500;
}

.order {
   margin-bottom: 20px;
}

.order__img {
   max-width: 150px;
   margin-bottom: 10px;
}

.order__title {
   font-size: 22px;
   font-weight: 500;
}

.order__price{
   color: #f74737;
   font-size: 20px;
   font-weight: 500;
}

.order__size {
   color: #a0a0a0;
   font-weight: 600;
   font-size: 14px;
}

.order-form {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.order-form__input {
   display: block;
   width: 100%;
   padding: 15px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #f4f1f1;
}

.order-form__input::placeholder {
   color: #a0a0a0;
   font-size: 14px;
}

.order-form__input:focus {
   border-color: #f74737;
}

.order-form__option {
   font-size: 14px;
}

.order-form__btn {
   font-size: 14px;
}
/* popup-order END */

/* popup-thanks, popup-error START */
.popup-thanks__content,
.popup-error__content {
   padding: 100px 30px;
}

.popup__phone {
   margin-top: 10px;
   display: block;
   font-size: 18px;
   font-weight: 600;
   transition: color .2s ease-in;
}

.popup__phone:hover {
   color: #f74737;
}
/* popup-thanks, popup-error END */

/* focus-visible START */
/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
   outline: none;
}
/* focus-visible END */
